body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.app>.container {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}

.timer {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.buttons>button {
  color: black;
  cursor: pointer;
  margin-right: 8px;
  outline: none;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  line-height: 1.5715;
  font-family: inherit;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}

button.start {
  background: #52c41a;
  color: white;
}

button.stop {
  background: #c41a1a;
  color: white;
}

button.wait {
  background: #1a45c4;
  color: white;
}

button.reset {
  background: #c4971a;
}